/* side bar */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #1f2937;
    color: white;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    margin: 10px 0;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #374151;
    border-radius: 5px;
}

/* Modal    */
.modal-body {
    max-height: 100vh;
    overflow-y: auto;
}

/* Buttons */
.theme-btn {
    background-color: #374151;
    color: white;
    border: 1px solid #374151;
    transition: 0.3s;
}

.theme-btn:hover {
    background-color: #1f2937;
    border-color: #1f2937;
    color: white;
}

.theme-btn:focus {
    box-shadow: none;
}

/* enrollment container */
.page-wrapper {
    margin-left:270px;
    padding:20px;
}

.enrollment-container {
    width:100%;
    max-width:900px;
}

.enrollment-container .form-select {
    width:100%;
}

.table-responsive {
    width:100%;
    overflow-x:auto;
}

.table {
    width:100%;
}